
/* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
	text-decoration: none;
}



/*clearfixを追加*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


.test{
  word-wrap: break-word;
}




/*header*/

.header{
	width:100%;
	height:70px;
	background-color: #EC715F;
	position: fixed;
	top: 0px;
 	z-index: 100;
}

nav{
	width:1024px;
	margin: 0 auto;
	position:relative;
}

.logo{
	height: 60px;
	margin-top: 5px;
	float:left;
}

nav li{
	display: inline-block;
	float:left;
}

li a{
	font-size: 16px;
	color:white;
	margin: 0 30px;
}

ul{
	position: absolute;
	top:20px;
	right:0px;
}









/*main-visual*/

.main-visual{
	width:100%;
	height:650px;
	background-image: url(img/mv.png);
	background-size: cover;
	background-position: center;
}

.main-visual-text{
	text-align: center;
	padding-top: 200px;
}

.main-visual-text h2{
	font-size: 64px;
	color:white;
	margin-bottom: 10px;
}

.main-visual-text p{
	font-size: 20px;
	color:white;
}





/*portfolio*/

.portfolio{
	width:100%;
	background-color: #ECEFF1;
	padding-bottom: 90px;
}

.portfolio-content{
	width:920px;
	text-align: center;
	margin: 0 auto;
}

.portfolio-images{
	float: left;
	text-align: center;
}


.title{
	margin:0 auto;
	font-size: 32px;
	padding-top: 90px;
	margin-bottom: 8px;
	color:black;
}


.border{
	margin:0 auto;
	border-bottom:3px solid #EC715F;
	width: 70px;
}


.text{
	font-size: 16px;
	color: black;
	text-align: center;
	margin:30px 0;
}


.images{
	width:300px;
	height:250px;
	background-size: cover;
	background-position:center;
	float: left;
	margin:5px 0;
}



.images:nth-child(1){
	background-image: url(img/sketch.jpg);
}

.images:nth-child(2){
	background-image: url(img/websuku.png);
	margin:5px 10px;
}

.images:nth-child(3){
	background-image: url(img/write.jpg);
}

.images:nth-child(4){
	background-image: url(img/webcamp.png);
}

.images:nth-child(5){
	background-image: url(img/talk.jpg);
	margin:5px 10px;
}

.images:nth-child(6){
	background-image: url(img/webcamp-mother.png);
}




/*feature*/

.feature{
	width:100%;
	padding-bottom: 90px;
}

.feature-content{
	width:980px;
	text-align: center;
	margin: 0 auto;
}

.strength{
	float: left;
}

.strength-box{
	width:320px;
	float: left;
	margin:;
}


.strength-box:nth-child(2){
	margin:0 10px 0 10px;
}


.strength-box h3{
	font-size: 20px;
	color: black;
	margin: 10px 0 10px 0;
}

.strength-box p{
	font-size: 16px;
	color: black;
	text-align: left;
}





/*profile*/

.profile{
	width:100%;
	background-color: #ECEFF1;
	padding-bottom: 90px;
}

.profile-content{
	width:1024px;
	text-align: center;
	margin: 0 auto;
}


.profile-box{
	width:1024px;
	float: left;
}

.profile-image{
	width:512px;
	height: 250px;
	float: left;
}


.profile-image img{
	border-radius: 250px;
    -moz-border-image: border-radius: 250px;
    -webkit-border-image: border-radius: 250px;
}

.profile-text{
	width:512px;
	float: left;
	text-align: left;
}

.profile-text h3{
	font-size: 20px;
	color:black;
	margin-bottom: 5px;
}

.profile-text p{
	font-size: 16px;
	color:black;
	margin-bottom: 8px;
}






/*contact*/

.contact{
	width:100%;
	padding-bottom: 90px;
}

.contact-content{
	width:800px;
	text-align: center;
	margin: 0 auto;
}


.contact-box{
	width:800px;
	float:left;
	margin: 0 auto;

}

.contact-text{
	width:400px;
	float:left;
	text-align: left;
}

.contact-text-box{
	width:200px;
	margin: 0 auto;
}


.contact-text h3{
	font-size: 20px;
	color: black;
	margin-bottom: 5px;
}


.contact-text-box p{
	font-size: 16px;
	color: black;
	margin-bottom: 20px;
}


.social{
	width:400px;
	float:left;
}

.social h3{
	font-size: 20px;
	color: black;
}


.icon-set{
	margin-right: 20px;
	color:black;

}



.social-box{
	width:250px;
	margin:0 auto;
	text-align: left;
	color: red;
}



/*footer*/

.footer{
	width:100%;
	height:60px;
	background-color:#EC715F;
	text-align: center;
	padding-top: 20px;
}

.footer p{
	font-size: 16px;
	color:white;
}













/*以下レスポンシブル用*/

@media screen and (max-width:768px){


/*header部分*/

/*ハンバーガーアイコン*/
/*メニュー部分after*/
#ham-menu {
    background-color: lightgrey; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内部上下左右余白*/
    position: fixed;
    right: -300px; /*メニュー横幅①と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 300px; /*メニュー横幅①*/
    z-index: 1000;
}


/*メニューアイコン部分は疑似要素で*/
#ham-menu::before {
    /*background-color: #fff;*/ /*ボタン部分背景色*/
/*    border-radius: 0 0 0 10px;*/ /*左下角丸*/
    color: white; /*アイコン（フォント）色*/
    content: "≡"; /*メニューアイコン*/
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px;
    line-height: 40px; /*縦位置中央化*/
    position: absolute;
    right: 105%;
    text-align: center;
    top: 0;
    width: 50px;
}

/*透過背景部分*/
#menu-background {
    background-color: #333; /*黒背景部分背景色*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%;
    z-index: -1;
}

/*hover 時の処理*/
#ham-menu:hover {
    transform: translate(-300px); /*メニュー横幅①と合わせる*/
}

#ham-menu:hover + #menu-background {
    opacity: 0.5; /*黒背景部分透過度*/
    z-index: 999;
}




.header{
	width: 100%;
	height:50px;
}

.logo{
	height:40px;
	margin-top: 5px;
	margin-left: 5px;
}



/*メインビジュアル部分	*/

.main-visual{
	width:100%;
	height:750px;
	background-image: url(img/code.png);
	background-size: cover;
	background-position: center;
}


.main-visual-text h2{
	font-size: 40px;
	color:white;
	margin-bottom: 10px;
}

.main-visual-text p{
	font-size: 18px;
	color:white;
}



/*ポートフォリオ*/




.portfolio{
	width:100%;
	background-color: #ECEFF1;
	padding-bottom: 90px;
}

.portfolio-content{
	width:90%;
	text-align: center;
	margin: 0 auto;
}

.portfolio-images{
	width:100%;
	margin: 0 auto;
	float: none;
	text-align: center;
}



.images{
	width:300px;
	height:250px;
	background-size: cover;
	background-position:center;
	float: none;
	margin:5px auto;
}





.images:nth-child(odd){
	display: none;
}


.images:nth-child(2){
	background-image: url(img/websuku.png);
	margin:5px auto;
}





/*feature*/
.feature{
	width:100%;
	padding-bottom: 90px;
}

.feature-content{
	width:90%;
	text-align: center;
	margin: 0 auto;
}

.strength{
	float: none;
}

.strength-box{
	width:300px;
	float: none;
	margin:0 auto;
}


.strength-box:nth-child(2){
	margin:0 auto;
}

.strength-box p{
	margin-bottom: 10px;
}



/*profile*/

.profile{
	width:100%;
	background-color: #ECEFF1;
	padding-bottom: 90px;
}

.profile-content{
	width:90%;
	text-align: center;
	margin: 0 auto;
}


.profile-box{
	width:100%;
	float: none;
}

.profile-image{
	width:100%;
	height:auto;
	float: none;
	margin: 0 auto;
}


.profile-image img{
	border-radius: 250px;
    -moz-border-image: border-radius: 250px;
    -webkit-border-image: border-radius: 250px;
}

.profile-text{
	width:100%;
	float: none;
	text-align: left;
}

.profile-text h3{
	font-size: 20px;
	color:black;
	margin-bottom: 5px;
}

.profile-text p{
	font-size: 16px;
	color: black;
	margin-bottom: 15px;
}

/*contact*/

.contact{
	width:100%;
	padding-bottom: 90px;
}

.contact-content{
	width:90%;
	text-align: center;
	margin: 0 auto;
}


.contact-box{
	width:100%;
	float:left;
	margin: 0 auto;

}

.contact-text{
	width:100%;
	float:none;
	text-align: center;
}

.contact-text-box{
	width:100%;
	margin: 0 auto;
}


.contact-text h3{
	font-size: 20px;
	color: black;
	margin-bottom: 5px;
}


.contact-text-box p{
	font-size: 16px;
	color: black;
	margin-bottom: 20px;
}


.social{
	width:100%;
	float:none;
}

.social h3{
	font-size: 20px;
	color: black;
}


.icon-set{
	margin-right: 20px;
	color:black;

}


.social-box{
	width:100%;
	margin:0 auto;
	text-align: center;
	color: red;
}




}